################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/DinamicCpp/.vs/DinamicCpp/v16
/DinamicCpp/DinamicCpp/Debug
/DinamicCpp/Debug
